.card-btn-1 button{
    color:brown;
    padding: 5px;
    border-color: brown;
}
.card-btn-2 button{
    color: #fff;
    background-color: brown;
    padding: 5px;
    margin-left:20px;
}
.card-content{
    display: flex;
    justify-content: space-between;
}

.product-container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-tag {
    font-size:15px;
    font-weight: 600;
    color:  brown;
}
select{
    padding:2px;
    margin: 9px;
}
.span-tag{
   display: flex;
  color: brown;
}
.h1-tag{
    font-size: 15px;
 color: brown;
  margin-top: -1px;
  margin-left: -1px;
}
.sub-poduct-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-tagle{
    display: flex;
    justify-content: space-between;
}
.check-box{
    background-color: brown;
    color: #fff;
    padding: 8px;
    margin-left: 20px;
}