.main-div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
}
.nav-bar {
    height: 120px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input-item{
    width: 100%;
    height: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 2px;
    
  }
  .input-item input{
     width: 80%;
     height: 25px;
     border-radius: 25px;
     display: flex;
     flex-direction: row;
     justify-content: center;
      
  }
.sub-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display:block;
        cursor: pointer;
    }

  .nav-menu {
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s;
       
    }}
.nav-link {
        display: flex;
        justify-content: center;
        color: brown;
    }
.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color:brown;
    font-weight: 500;
    font-size:15px;
    margin-top: 20px;
}
.search-icon{
    position: absolute;
    margin-top: 4px;
    margin-left: 760px;
  }
.cart-icon{
    margin-bottom: -1px;
    margin-top: 5px;
    color: brown;
   margin-right:10px;
  }
  .person-icon{
    margin-bottom: 1px;
    margin-top: 5px;
    color: brown;
   margin-right:20px;
  }
  .primary-div{
    margin-top: 200px;
    
  }
  .secondary-div{
    margin-top: 200px;
  }
  .navbar-secondary{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .backgeround-1{
    width: 100;
    height: 10px;
    background-color: brown;
  }
  .backgeround-2{
    width: 100;
    height: 40px;
    background-color: brown;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .background-3{
    width: 100;
    height: 5px;
    background-color: brown;
    
  }
  .navbar-third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .third-div{
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
  }
  .forth-div{
    margin-top:20px;
    background-color:rgb(137, 32, 32);
    width: 400px;
    height: 450px;
    border-radius:50% ;
    transform: rotate(0deg);
    transition: 1s;

  }
  h1{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top:130px;
    margin-left: 80px;
  }
  p{
    color: #fff;
    margin-left: 80px;
  }
  button{
    background-color: #fff;
    color:brown;
    font-size:18px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 80px;
    padding: 3px;
    width: 180px;
  }
  .navbar-forth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fifth-div{
    padding: 90px;
    color: brown;
    margin-top: 160px;
  }
  h2{
    font-size: 30px;
    font-weight: 600;
  }
  .button-item{
    background-color: brown;
    color: #fff;
  }
  .sixth-div{
    padding: 20px;
  }
  input{
    width: 400px;
    height: 30px;
    margin-top: 20px;
border-color: brown;
border-radius: 20px;
  }
  .search-icon{
margin-left: 370px;
margin-top: -25px;
  }