.product-container-1{
    /* position: fixed; */
    z-index: 1;
    left:0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    margin-top: 60px;
}
.sub-product{
    background-color:#ffffff;
    position:absolute;
    left:70%;
    top: 75%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(46, 45, 45, 0.75);
    width: 35%;
    height: 110%;
    margin-left: 90px;
    margin-top: 60px;
    border-radius: 20px;
}
.product-container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-tag {
    font-size:15px;
    font-weight: 600;
    color:  brown;
}
select{
    padding:2px;
    margin: 9px;
}
.span-tag{
   display: flex;
  color: brown;
}
.h1-tag{
    font-size: 15px;
 color: brown;
  margin-top: -1px;
  margin-left: -1px;
}
.sub-poduct-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-tagle{
    display: flex;
    justify-content: space-between;
}
.check-box{
    background-color: brown;
    color: #fff;
}